.navbar{
    top: 0;
    width: 100%;
    left: 0;
    box-shadow: 0 11px 12px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1001;
    height: 12%;
}
@media only screen and (max-width: 600px) {
  .navbar{
    height: 25%;
  }
}
.nav-link:hover{
    text-decoration: underline;
    color: #f96332;
}
/* #navbarDropdown1, #navbarDropdown{
    margin-right: 3%;
    margin-top: 3%;
} */
.carousel-item{
    margin-top: 5%;
}
.check{
    background-color: black;
    font-size: 2.6vh;
}
.avail{
    margin-top: 2%;
    margin-bottom: 1%;
}
label{
    color: white;
}
#cin{
    margin-left: 16%;
}
input{
    width: 20%;
    border-radius: 10px;
}
#btn{
    background-color: #f96332;
    color: white;
}
.title {
    font-weight: 700;
    padding-top: 20%;
}
h2, .h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}
body{
    -webkit-font-smoothing: antialiased;
}
.presentation-page .category {
    text-transform: uppercase;
}
.title + .category {
    margin-top: -25px;
}
.category {
    text-transform: capitalize;
    font-weight: 700;
    color: #9A9A9A;
}
h6, .h6 {
    font-size: 0.9em;
}
.description {
    margin-top: 35px;
    color: #696666;
    font-weight: 300;
}

h5, .h5 {
    margin-top: 3%;
    font-size: 1.3em;
    line-height: 1.4em;
    margin-bottom: 15px;
}
.bed{
    width: auto;
    left: 100px;
    top: 0;
    height: 100%;
    box-shadow: 0 11px 12px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    position: absolute;
    margin-top: 15%;
}
img {
    max-width: 100%;
    border-radius: 1px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.con{
    left: -4%;
    top: 80%;
    width:60% ;
    position: absolute;
    box-shadow: 0 11px 12px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    float: left;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-name:Floatingx;
    animation-direction: alternate-reverse;
   opacity: 0.9;
}
@keyframes Floatingx{
    from{
        left: -12%;
    }
}
.home{
    left: 83%;
    top: 65%;
    height: 20%;
    width: 40%;
    border-radius: 400px;
    position: absolute;
    box-shadow: 0 11px 12px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    float: left;
    animation: float 2s alternate infinite;
    opacity: 1;
}
@keyframes float{
    from{
        left: 75%;
    }
}
.p7{
    left: 50%;
    top: 7%;
    height: 102px;
    border-radius: 3px;
    position: absolute;
    box-shadow: 0 11px 12px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    float: left;
    animation: floats 4s alternate-reverse infinite;
    opacity: 0.9;
}
@keyframes floats{
    from{
        left: 60%;
    }
}
.p8{
    left: 80%;
    top: 112%;
    height: 90px;
    border-radius: 3px;
    position: absolute;
    box-shadow: 0 11px 12px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    float: left;
    animation: floa 5s alternate-reverse infinite;
    opacity: 0.9;
}
@keyframes floa{
    from{
        left: 70%;
    }
}
.p6{
    left: 1%;
    top: 10%;
    height: 133px;
    border-radius: 3px;
    position: absolute;
    /* box-shadow: 0 11px 12px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); */
    float: left;
    animation: flo 2s alternate-reverse infinite;
    opacity: 0.9;
} 
@keyframes flo{
    from{
        left: 9%;
    }
}

 .section-components {
    margin-top: 16%;
    background: #220c08;
    height: 130vh;
}

.text-center, .description1{
    color: white;
}
 .section-components {
    z-index: 1;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
     flex-wrap: wrap; 
     margin-right: -15px;
    margin-left: -25px; 
}
.space-50 {
    height: 50px;
    display: block;
}
 .first-card {
    z-index: 7;
}

.card-container {
    perspective: 900px;
     width: 300px; 
    position: relative;
}
 .card-component {
    transform-style: preserve-3d;
    position: relative;
    height: 600px;
    left: 50%;
}

.card {
    transform: rotateY(-35deg);
    backface-visibility: hidden;
    position: absolute;
    top: 20%;
    margin-left: -35%; 
    background-color: #FFF;
    width: 100%;
    cursor: pointer;
    box-shadow: 10px 4px 14px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    overflow: hidden;
    transition-property: right,top;
    transition-duration: .2s;
    transition-timing-function: linear;
}
 .third-card {
    z-index: 4;
}
.fourth-card {
    z-index: 3;
} 
.second-card {
    z-index: 5;
} 
.card1{
    transform: rotateY(-35deg);
    backface-visibility: hidden;
    position: absolute;
    top: 20%;
    background-color: #FFF;
    width: 100%;
    cursor: pointer;
    box-shadow: 10px 4px 14px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    overflow: hidden;
    transition-property: right,top;
    transition-duration: .2s;
    transition-timing-function: linear;
    margin-left: -68%;
}
.card2{
    transform: rotateY(-35deg);
    backface-visibility: hidden;
    position: absolute;
    top: 20%;
    background-color: #FFF;
    width: 100%;
    cursor: pointer;
    box-shadow: 10px 4px 14px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    overflow: hidden;
    transition-property: right,top;
    transition-duration: .2s;
    transition-timing-function: linear;
    margin-left: -104%;
}

.card1:hover{
    top: 5%;
    right: 47%;
}
.card:hover{
    top: 5%;
    right: 5%;
}
.section-content {
    padding-top: -20%;
    padding-bottom: 30px;
    margin-top: 40%;
    background-color: #2c2c2c;
}
.col-md-5{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.img-raised {
    position: absolute;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 1, .3);
    height: 120%;
    top: -40%;
}
.img-raised1{
    position: absolute;
    left: 50%;
    opacity: 0.9;
}
.img-raised1:hover{
     opacity: 0.1;
}
.section-content,.image-container, .img-blog {
    z-index: 4;
    top: 45%;
}
.a1{
  position: absolute;
  top: 60%;
  left: 0%;
  color: rgb(248, 246, 246);
  font-size: 3vh;
  font-weight: bold;
  animation: ani 5s reverse infinite;
  opacity: 0;
}
@keyframes ani{
    from{
        opacity: 1;
        left: 20%;
    }
}
.b1{
    position: absolute;
    top: 40%;
    left: 0%;
    background-color: #220c08 ;
    color: rgb(247, 241, 241);
    border-radius: 40px;
    font-size: 6vh;
    text-decoration: underline;
    animation: ani 5s reverse infinite;
    font-family: 'Cinzel', serif;
    opacity: 0;
}

.a2{
    position: absolute;
    top: 10%;
    left: 10%;
    color: rgb(248, 240, 240);
    font-size: 3vh;
    font-weight: bold;
    animation: animat 5s reverse infinite;
    opacity: 0;
  }
@keyframes animat{
    from{
        opacity: 1;
        top: 60%;
    }
}
.b2{
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 40px;
    background-color: rgb(24, 39, 56);
    color:white;
    font-size: 6vh;
    text-decoration: underline;
    animation: animati 5s reverse infinite;
    font-family: 'Cinzel', serif;
    opacity: 0;
}
@keyframes animati{
    from{
        opacity: 1;
        top: 40%;
    }
}
  .a3{
    position: absolute;
    top: 100%;
    left: 10%;
    color: rgb(248, 245, 245);
    font-size: 3vh;
    font-weight: bold;
    animation: anim 5s reverse infinite;
    opacity: 0;
  }
  @keyframes anim{
    from{
        opacity: 1;
        top: 60%;
    }
  }
  .b3{
    position: absolute;
    top: 100%;
    left: 12%;
    background-color: #180906 ;
    color: rgb(247, 241, 241);
    border-radius: 40px;
    font-size: 6vh;
    text-decoration: underline;
    animation: anima 5s reverse infinite;
    font-family: 'Cinzel', serif;
    opacity: 0;
}
@keyframes anima{
    from{
        opacity: 1;
        top: 40%;
    }
  }

.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 
  
